@media (min-width: 700px) and (max-width: 1024px){
    main{
        display: block;
        aside {
            width: 100%;
            .imagenHome {
                img {
                    width: 220px;
                    height:220px;
                }
            }
        }
        section {
            width: 100%;
            #texto {
                font-size: 1rem;
                margin-inline: 20px;
            }
        }
    }
    main .servicio {
        display: block;
        section {
            width: 100%;
        }
    }

    main{
    height: 100%;
    .fotos {
        flex-direction: column;
        object-fit: cover;
        height: auto;
        margin-top: 120px;
        margin-left: 120px;
        img{
            width: 80px;
            height: 80PX;
            margin-top: -35px;
        }
        img:hover {
            height: 400px;
        }
    }
}
main{
    display: block;
    width: 100%;
    .contact_form {
        width: 500px;
        .formulario p{
            input{
                width: 430px; 
            }
            textarea{
                width: 430px; 
                height: 100px; 
            }
        }
    }
    .mapa {
        width: 100%;
        height: auto;
        background-color: black;
        img{
          margin: 30px;
        }
    }
}
}
@media (min-width: 320px) and (max-width: 500px){
    main{
        display: block;
        aside {
            width: 100%;
            .imagenHome {
                img {
                    width: 220px;
                    height:220px;
                }
            }
        }
        section {
            width: 100%;
            #texto {
                font-size: 1rem;
                margin-inline: 20px;
            }
        }
    }
    main .servicio {
        display: block;
        section {
            width: 100%;
        }
    }
    main .contenedor{
        margin-top: 90px;
    }
    main{
    height: 100%;
    .fotos {
        flex-direction: column;
        object-fit: cover;
        height: auto;
        margin-top: 120px;
        margin-left: 50px;
        img{
            width: 80px;
            height: 80PX;
            margin-top: -35px;
        }
        img:hover {
            width: 300px;
            height: 300px;
        }
    }
}
main{
    display: block;
    width: 100%;
    .contact_form {
        width: 335px;
        .formulario p{
            input{
                width: 270px; 
            }
            textarea{
                width: 270px; 
                height: 100px; 
            }
        }
    }
    .mapa {
        width: 100%;
        height: auto;
        background-color: black;
        img{
          margin: 30px;
        }
    }
}
}