*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor_principal{
    display: grid;
    max-width: 100%;
    gap: 0.3rem;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    background-color: rgb(73, 73, 73);
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer"
      ;
    }
