main{
    grid-area: main;
    text-align: center;
    height: auto;
    display: block;
    H4{
        font-family: 'Times New Roman', Times, serif;
        color: gray;
        margin-top: 20px;
        font-size: 2rem;
        width: 100%;
        position: absolute;
    }
    .fotos {
        width: 100%;
        display: flex;
        width: 450px;
        height: 400px;
        margin: 50px;
        margin-top: 80px;
        margin-left: 120px;
        img{
            width: 50px;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.7s ease;
        }
        img:hover {
            cursor: crosshair;
            width: 400px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}
