main {
  grid-area: main;
  display: flex;
  width: 100%;
  height: auto;
  .contact_form {
    width: 600px; 
    height: auto;
    margin: 30px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    
    .formulario {
      H5{
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;  
        text-align: letf; 
        padding-bottom: 20px; 
        color: gray;
      }
      p{
        font-size: 1rem; 
        color: #0e0e0e;
        label{
          display: block; 
          float: center;
          span{
            color: red; 
          }
        }
        input{
          background-color: #fbfbfb; 
          width: 408px; 
          height: 40px; 
          border-radius: 5px;  
          border-style: solid; 
          border-width: 1px; 
          border-color: red; 
          margin-top: 10px;  
          padding-left: 10px;
          margin-bottom: 20px; 
        }
        textarea{
          background-color: #fbfbfb; 
          width: 405px; 
          height: 150px; 
          border-radius: 5px;  
          border-style: solid; 
          border-width: 1px; 
          border-color: red; 
          margin-top: 10px;  
          padding-left: 10px;
          margin-bottom: 20px; 
          padding-top: 15px; 
        }
      }
      button{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px; 	
        margin-bottom: 20px; 
        margin-top: 10px; 	
        text-transform: uppercase;
        background-color: #b40a0a; 
        border-color: #e7e7e7; 
        border-style: solid; 
        border-radius: 10px;	
        width: 100px;   
        cursor: pointer;
        p{
          color: #fff; 
        }
      }
    }
    .formulario input:focus{
      outline:0;
      border: 1px solid #97d848;
    }
    .formulario textarea:focus{
      outline:0;
      border: 1px solid #97d848;
    }
    .aviso{
      font-size: 13px;  
      color: #0e0e0e;  
    }
    ::-webkit-input-placeholder {
     color: #a8a8a8;
    }
    ::-webkit-textarea-placeholder {
     color: #a8a8a8;
    }
  }
  .mapa {
    width: 30%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
    img{
      width: 200px;
      height: 200px;
      margin: 50px;
      border: 2px solid #4b4545;
      border-radius: 200px;
    }
    p{
      font-size: 1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
    }
  }
}
