main{
    grid-area: main;
    justify-content: center;
    max-width: 100%;
    height: auto;
    .fotos {
        display: flex;
        max-width: 100%;
        width: 400px;
        height: 350px;
        justify-content: center;
        margin: 50px;
        object-fit: cover;
        img{
            max-width: 100%;
            width: 30px;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.5s ease;
        }
        img:hover {
            cursor: crosshair;
            width: 400px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}
