main {
    grid-area: main;
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: black;
    float: left;
    aside {
        width: 40%;
        height: auto;
        text-align: center;
        padding: 20px;
        .imagenHome {
            img {
                max-width: 100%;
                width: 350px;
                height: 350px;
                border-radius: 320px;
                border: 8px solid #a7a1a1;
                margin-left: 100px;
                margin-top: 40px;
            }
        }
    }
    section {
        width: 60%;
        text-align: center;
        height: auto;
        h1{
            font-family: 'Times New Roman', Times, serif;
            color: gray;
            margin-top: 30px;
            font-size: 2rem;
        }
        #texto {
            color: white;
            font-size: 1.1rem;
            padding: 40px;
            margin-inline: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 220%;
        }
      
    }

}