main{
    grid-area: main;
    justify-content: center;
    height: auto;
    .fotos {
        display: flex;
        width: 450px;
        height: 400px;
        justify-content: center;
        margin: 50px;
        object-fit: cover;
        img{
            width: 50px;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.7s ease;
        }
        img:hover {
            cursor: crosshair;
            width: 400px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}
